
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Tajawal');
@import url('https://fonts.googleapis.com/css?family=Damion|Dawning+of+a+New+Day|Pacifico|Satisfy');

*{
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: inherit;
}

html, body {
    height: 100%;
    margin: 0;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    bottom:0;
    list-style-type: none;
    font-size: 10%;
    padding : 15px 20px;
    overflow: hidden;
    background-color: white;
    color: white;
    opacity: 0.7;
}

header button {
    border: none;
    font-size: 15px;
    font-family:'Tajawal', sans-serif;
}

img {
    margin-left: 8%;
    margin-bottom: 5%;
    border-radius: 50%;
    width: 230px;
    height: 230px;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    border-style: dotted;
}


#me {
    background-image:url("img/paris.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
}

#me h1 {
    color: rgb(248, 245, 248);
    font-size: 100px;
    font-family: 'Satisfy', cursive;
    font-weight: normal;
    margin: 0%;
}



section p {
    font-size: 15px;
    font-family:'Tajawal', sans-serif;
}

#interest {
    background-color:rgb(248, 241, 241);
    margin: 0%;
    font-size: 30px;
    cursor: pointer;
    font-family: 'Satisfy', cursive;
    font-weight: normal;
}

h2 {
    margin-top: 2%;
    font-size: 30px;
    cursor: pointer;
    font-family: 'Satisfy', cursive;
    font-weight: normal;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2%;
}

h3 {
    font-size: 25px;
    color: aliceblue;
    font-family:'Tajawal', sans-serif;
    align-items: center;
}

#introduction{
    display: flex;
    flex-direction: row;
}

#introduction article {
    flex: 1;
    margin: 0% 5% 5% 5%;
    text-align: justify;
}

#intro{
    width: 20%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/******
* ARTICLES
*******/

#articles {
    background-color: rgb(248, 241, 241);
    margin: 0;
    flex-wrap: wrap;
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content: center;
    min-height: 100%;
}

#articles a {
    width: 33%;
    margin: 20px 20px;
}

#articles article {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    padding: 60px;
    flex-direction: column;
    background-color:  rgba(249, 251, 253, 0.5);
    width: 100%;
    align-items: center;
    border-width: 4px;
    border-color: rgb(253, 253, 253);
    border-style: solid;
}

article:hover {
    filter: grayscale(100%);
    transition: all 0,6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#Article1 {background-image:url("img/macaron.jpg");}

#Article2 {background-image:url("img/cup.jpg");}

#Article3 {background-image:url("img/boisson.jpg");}

#Article4 {background-image:url("img/cupcake.jpg");}

#Article5 {background-image:url("img/fraise.jpg");}

#Article6 {background-image:url("img/cream.jpg");}

footer {
    background-color: lavenderblush;
    background-image:url("img/Paris2.jpg");
    color: rgb(59, 57, 59);
    font-size: 32px;
    padding: 5px 10px;
    transition: all 0,6s cubic-bezier(0.075, 0.82, 0.165, 1);
    font-family: 'Dancing Script', cursive;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 100%;
}

footer h3 {
    color: rgb(59, 57, 59);
    font-size: 70px;
    padding: 5px 10px;
}


/** RESPONSIVE **/ 
/* MOBILE */
@media screen and (max-width : 600px){
    section {
        flex-wrap: nowrap;
        flex-direction: column;
    }
    
    #articles a {
        width: 80%;
        }
}
    
/* TABLET */
@media screen and (min-width : 600px) and (max-width : 900px){
#articles a {
    width: 40%;
    }
}

/* ANIMATIONS */
@keyframes enter {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform : translateY(0);
    }
}
    