@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

*{
    font-family: 'Dancing Script', cursive;
}

html, body {
    height: 100%;
    margin: 0;
}

section {
    background-image: url(../img/music.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

article {
    background-color: white;
    opacity: 0.8;
    width: 50%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: black;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 30px;
    text-align: start;
}

p {
    color: black;
    width: 90%;
    margin-bottom: 5%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    text-align: start;
    text-align: justify;
}

h2 {
    margin: 0%;
    font-size: 70%;
    color: black;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/******
* ENGIE
*******/

#engie1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50%;
    background-color: rgb(248, 241, 241);
    text-align: justify;
}

#engie2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50%;
    text-align: justify;
    font-size: 21px;
    font-weight: 1200;
    font-family:'Tajawal', sans-serif;
}

#engie3s {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50%;
    text-align: justify;
    font-size: 21px;
    font-weight: 1200;
    font-family:'Tajawal', sans-serif;
}

#musique {
    width: 50%;
    height: 100%;
}

#voyage {
    width: 50%;
    height: 100%;
}

#engie {
    margin: 8%;
}

h6 {
    font-size: 17px;
    font-weight: 1200;
    font-family:'Tajawal', sans-serif;
    margin : 8%;
}
