@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

*{
    font-family: 'Dancing Script', cursive;
}

html, body {
    height: 100%;
    margin: 0;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    width: 100%;
}

article {
    background-color: white;
    opacity: 0.8;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

h1 {
    color: black;
    font-size: 30px;
    text-align: start;
}

p {
    color: black;
    width: 90%;
    margin-bottom: 5%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    text-align: start;
    text-align: justify;
}
